@use "./Base/mixins";
@use "Modules/header";
@use "Modules/hero";
@use "Modules/facilities";
@use "Modules/rooms";
@use "Modules/book";
@use "./Modules/footer";

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu";
}

a {
  text-decoration: none;
  color: #fff;
}

h2 {
  color: #957554;
  font-size: 1.5em;
  text-align: center;
  margin: 1em 0;
}
