@use "../Base/mixins";

.hero {
  @include mixins.flex-center;
  flex-direction: column;
  background-image: url("../img/hero_image.png");
  background-size: cover;
  background-position: center;
  height: 50vh;
  h1 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
    margin-top: 1rem;
  }
  p {
    color: #fff;
    margin: 1.5rem 0;
  }
  button {
    @include mixins.button-hero;
    a {
      text-transform: uppercase;
      font-size: 1rem;
    }
  }
}
