* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
  height: 100vh;
  align-content: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20rem;
}

form div {
  display: inline-flex;
  gap: 5rem;
}
label {
  font-size: 2rem;
}
input {
  width: 50vw;
}

h3 {
  font-size: 2rem;
  margin: 1rem 0;
}
