/* @media only screen and (min-width: 768px) { */
    .change{
        height: 40vh;
    }

    .change h2, .small h2{
        font-size: 6rem;
        line-height: 6.5rem;
        padding: 0 5rem;
    }
    
   

    .seo, .portfolio{
        flex-direction: row;
        height: 50vh;
    }

    .seo img, .portfolio img{
        width: 50vw;
    }
    .seo div:nth-of-type(2), .portfolio div:nth-of-type(1){
        display: flex;
        flex-direction: column;
        width: 40vw;
    }

    .portfolio div .button{
        flex-direction: row;
    }

    .small{
        height: 50vh;
    }
    .small div{
        display: flex;
        flex-direction: column;
        width: 90vw;
    }

    #gallery{
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 8rem;
    }

    #gallery img{
        width: 50vw;
    }
/* } */